<h1>Sign In</h1>
<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <h2>Social network authentication</h2>
    <div class="row">
      <h3>google</h3>
    </div>
    <div class="row">
      <%= link_to 'Log In with Facebook', '/auth/facebook' %>
    </div>
  </div>
</div>