<% @products.each do |product| %>
    <div class="product-info">
      <div class="product-info-text">
        <p>ten: <%= product.name %></p><br>
        <p>mieu ta: <%= product.description %></p><br>
        <p>xuat su: <%= product.make %></p>
      </div>
      <div class="product-info-img">
        <%= image_tag product.img_link %>
      </div>
    </div>
<% end %>