<div class="container">
  <h2>ADMIN MANAGE</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#users">users</a></li>
    <li><a data-toggle="tab" href="#products">products</a></li>
  </ul>

  <div class="tab-content">
    <div id="users" class="tab-pane fade in active">
      <h3>USERS</h3>
      <td><%= link_to 'create', new_admin_user_path, remote: true, id: 'create-user-admin' %></td>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>visible</th>
          <th colspan="2">action</th>
        </tr>
        </thead>
        <tbody id="users-list-admin">
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div id="products" class="tab-pane fade">
      <h3>PRODUCTS</h3>
      <div class="create-product"><%= link_to 'add', new_admin_product_path, remote: true %></div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>name</th>
          <th>price</th>
          <th>description</th>
          <th>make</th>
          <th colspan="2">action</th>
        </tr>
        </thead>
        <tbody id="products-list-admin">
        <% @products.each do |product| %>
            <%= render product %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>