// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-products-index {
  display: inline-block;
}

//------------product show------------------
.product-show-info {
  img {
    width: 100%;
  }
  .product-price {
    color: darkred;
    font-size: 120%;
  }
  .product-name {
    font-size: 170%;
    color: #2E2F30;
  }
}