// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//--------------------
.row {
  margin: 0;
  padding: 0;
}

.list-or-grid-view {
  float: right;
  margin-right: 20px;
}

//----------------------header-------------------
.header-nav {
  form {
    padding: 8px;
  }
}

//----------------my button------------------
.my-button {
  padding: 6px 6px;
  background-color: #5898d3;
  color: black;
  height: 30px;
  font-size: 17px;
}

//------------checked------------------------
.checked-false{
  color: red;
}

.checked-true{
  color: green;
}

//---------------list of products-----------

.list-products {
  display: inline-block;
}

.product-info {
  margin-bottom: 50px;
  float: left;
  border: 2px solid white;
  box-sizing: inherit;
  img {
    width: 100%;
    padding: 0 1%;
  }
}

.product-info:hover {
  border: 2px solid lightblue;
}

.product-info-text {
  p {
    margin: 0;
  }
  .product-name {
    font-size: 130%;
    color: #2E2F30;
  }
  .product-price {
    color: darkred;
    font-size: 120%;
  }
}

//----------------paginate-----------
.pagination {
  display: inline-block;
}